::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: grey;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #4a4949;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #b1b1b1;
}

*{
    box-sizing: border-box;
    transition: all ease-in-out 0.2s;
}

html{
    margin: 0; 
    padding: 0; 
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}

h4, h2{
    line-height: 10vh;
    margin: 0;
}

.red{
    background: #ff1f1f;
}

.green{
    background: #28965f;
}

.state{
    color: #412c2c;
    float: right;
    font-weight: bold;
    margin-right: 1vw;
}

.underlined{
    text-decoration: underline;
}

.state-on{
    color: #28965f;
}

.inline-block{
    display: inline-block;
}

.hovered:hover{
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(back3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2vh 2vw;
}

section{
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.main_section {
	height: 100%;
    width: 100%;
    padding-top: 20vh;
}

.button{
    line-height: 10vh;
    text-align: center;
    width: 40%;
    height: 10vh;
    border: 1px solid white;
    margin: 5vh 30% 5vh 30%;
}

.button:hover{
    cursor: pointer;
}

.small-button{
    width: 10vw;
    min-width: 110px;
    height: 5vh;
    line-height: 5vh;
    margin: 0;
    margin-bottom: 2vh;
    border: none;
}

.name_section{
    width: 69%;
    float: right;
    height: 10vh;
    line-height: 10vh;
}

.back_section{
    width: 30%;
    height: 10vh;
    line-height: 10vh;
}

.script_section{
    margin-top: 2vh;
    height: 83vh;
    text-align: left;
    padding: 5vh 5vh 0 5vh;
}

textarea{
    width: 100%;
    height: 40vh;
}

.listening_section{
    overflow: hidden;
    margin-top: 2vh;
    padding: 0 8vw 0 8vw;
}

.listening_section p{
    margin-top: 0;
    line-height: 10vh;
}

.new-devices_section{
    height: 65vh;
}

.new-sensors_section{
    height: 10vh;
}

.device{
    background: rgba(188, 188, 188, 0.8);
    line-height: 5vh;
    text-align: left;
    min-width: 40vw;
    min-height: 5vh;
    border: 1px solid lightgrey;
    padding-left: 1%;
    margin: 0 0 2vh 0;
}

.menu_section{
    overflow: hidden;
    margin-top: 2vh;
    height: 65vh;
    width: 65%;
    padding: 0 5% 0 5%;
    border-radius: 0;
    margin-left: -2vw; 
}

.menu_section-sensor{
    height: 10vh;
}

.device-settings_section{
    position: absolute;
    top: 14vh;
    right: 0;
    width: 37%;
    height: 35vh;
    text-align: left;
    padding: 0 0 2vh 2vh;
    border-radius: 0;
}

.scrolled{
    overflow-x: hidden;
    overflow-y: scroll;
}

.label_for_script{
    
}

/*****SlideCheckbox*****/

.onoffswitch {
    position: relative; width: 83px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 41px; padding: 0; line-height: 41px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #EEEEEE; color: #28965f;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 38px; margin: 1.5px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 38px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #28965f; 
}

/*CustomCheckbox*/

.checkbox {
	display: none;
}

.checkbox-custom {
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 3px;
}

.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #28965f;
	border-radius: 2px;
}
